@import "tailwindcss";

:root {
  --background: #0d1117;
  --primary: #204b57;
  --secondary: #151b23;

  /* spin 1s linear infinite */
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins-sans);
  --font-mono: var(--font-geist-mono);

  --animate-expand: expand 0.3s ease-in-out forwards;

  @keyframes expand {
    to {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
